main {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.5rem;

        .cards-center{
            display: grid;
            gap: 1.5rem;
        }

        .card {
            border-radius: 4px;
            box-shadow: 0 12px 32px 0 rgb(205, 205, 205);
            text-align: left;
            font-weight: 200;
            color: var(--grayish-blue);
            padding: 1.5rem;

            border-top-style: solid;
            border-top-width: 4px;

            h3 {
                margin: 0 0 .55rem;
                color: var(--very-dark-blue);
                font-size: 1.2rem;
                font-weight: 600;
            }

            img {
                width: 68px;
                height: 68px;
                display: flex;
                margin: 2rem 0 auto auto;
            }
        }
        /* Color of Cards*/
        .card#supervisor {border-top-color: var(--cyan);}
        .card#team-builder {border-top-color: var(--red);}
        .card#karma {border-top-color: var(--orange);}
        .card#calculator {border-top-color: var(--blue);}
    }
}